{% extends "base.html" %}

{% block cuerpo %}
<divclass="row"> 
<div class="col-md-4 offset-md-4">
    <div class="card"> <!--Targeta-->
        <div class="card-body">
            <form action="/EditarClientes/" method="POST"> {% csrf_token %}<!--formulario-->
                <div class="form-group">
                    <input type="text" id="numCliente" name="numCliente" class="form-control"
                    value="{{MisClientes.Id_Cliente}}" minLenght="6" maxLenght="6" readonly reqired>
                </div>
                
                <div class="form-group py-3">
                    <input type="text" id="numTelefono" name="numTelefono" class="form-control"
                    value="{{MisClientes.No_Telefono}}" maxLenght="100" reqired>
                </div>

                <div class="form-group py-3">
                    <input type="Date" id="DateFecha" name="DateFecha" class="form-control"
                    value="{{MisClientes.Fecha_Nacimiento}}"  min="1" max="20" reqired>
                </div>
                
                <div class="form-group py-3">
                    <input type="text" id="txtCorreo" name="txtCorreo" class="form-control"
                    value="{{MisClientes.Correo}}"  min="1" max="20" reqired>
                </div>

                <div class="form-group py-3 ">
                    <input type="text" id="txtNombre" name="txtNombre" class="form-control"
                    value="{{MisClientes.Nombre}}"  min="1" max="20" reqired>
                </div>

                <div class="form-group py-3">
                    <input type="text" id="txtDireccion" name="txtDireccion" class="form-control"
                    value="{{MisClientes.Direccion}}"  min="1" max="20" reqired>
                </div>

                <div class="form-group py-3">
                    <input type="text" id="txtSexo" name="txtSexo" class="form-control"
                    value="{{MisClientes.Sexo}}"  min="1" max="20" reqired>
                </div>


                <div class="form-group py-3">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div> <!--columna-->
</div> <!--fila-->

{% endblock %}